h2{
  margin-bottom: -15px;
  display: flex;
  
  
}
span{
  margin-bottom: -25px;
}

#lol{
  color: black;
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  font-size: 19px;
  border: solid red 5px;
  margin: -175px 0px -200px 50px;
  height: 1900px;
  background: white;

}

#sla{
    display: flex;
    justify-content: space-between;
    margin: -40px 220px 0px 1000px;
    list-style: none;
}
ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
  }
  body{
    text-decoration: none;
   

  }
  header{
    background: red;
    height: 50px;
    margin: 0px -20px 0px 0px;
  }
  main{
  background-image: url(n.jpg);
  background-size: 130%;
    padding: 230px;
    display: flex;

  }
  img{
    padding: 15px;
  }
  input[type= button]{
    width: 500px;
    height: 100px;
    margin: -20px 200px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .kkk{
    display:flex;
    margin-right: 25px;
  }
p{
  padding-right:5px;
  margin-right: 25px;
}